name: Build and Release Go Application

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'examples/**'
      - 'README.md'
      - '.gitignore'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      # 1: Checkout code (required before using the action)
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch all the history for GitVersion
          persist-credentials: true

      # 2: Call our custom `GitVersion action` to tag the repo
      - name: Tag with GitVersion
        id: gitversion
        uses: michielvha/gitversion-tag-action@v6
        with:
          configFilePath: gitversion.yml

      # 3: Use the custom build-release action
      - name: Build and Release Go Binary
        uses: michielvha/goreleaser-action@main
        with:
          github-token: ${{ github.token }}
          pgp-private-key: ${{ secrets.PGP_PRIVATE_KEY }}
          go-version: '1.25.2'